# Build results
bin/
obj/

# Rider
.idea/

# VS
.vs/
*.user
*.suo

# VS Code
.vscode/

# Avalonia designer
*.axaml.cs.designer.cs

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# User-specific files
*.userprefs